<!-- LOGIN-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

<!-- Navigatiebarbar (sit on top) -->
<!--<div class="w3-top">
  <div class="w3-bar w3-grey w3-card" id="myNavbar">

   <a th:href="@{index}" class="w3-bar-item w3-button w3-wide">BACK TO HOMEPAGE</a>




  </div>

<head>
<title>Login Page</title>
</head>
<body>

<div class="w3-container w3-light-grey" style="padding:100px 30px" id="login">
<body>
<CENTER>
<font size="9">HUISARTSKLINIEK Drs. Harpal R.</font><br><br>
<font size="5">*Alleen toegankelijk voor het personeel van het huisartskliniek</font><br><br>
<CENTER>
<form name="login">
<div class="login-container">
<form class="box" >

<input type="text" placeholder="Enter Username" name="userid">
<input type="password" placeholder="Enter Password" name="pswrd">
<input type="button" name=""onclick="check(this.form)"value="Login"/>

</form>

</div>

<body>

-->

<!--            letttt oppppp   -->
<!--<script language="javascript">
function check(form)
{
 if(form.userid.value=="username" && form.pswrd.value=="psw")

    {
     window.open( th:href="@{/users}");
    }

  else
    {
     alert("The username and password you entered don't match")
     }
}
</script>
</body>
</form>
</CENTER>
</CENTER>
</body>
</div>
</body>

 </div>
</html>  -->
<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- xmlns:padding="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container w3-padding-large" id="login">
    <body style="background-color:lightgrey;">

    <div class="w3-container">
        <div class="w3-top"><br>
            <button class="w3-btn w3-rectangular w3-blue w3-ripple" >
                <a th:href="@{index}" style="text-decoration: none">Terug naar startpagina  </a>
            </button>
        </div><br><br>

        <CENTER>

            <div class="w3-container w3-light-blue ">

                <h1 style="font-family:'Lucida Handwriting'; color:midnightblue;" > HUISARTSKLINIEK Drs. Harpal R.</h1><br>
                <h3 class="w3-center">WELKOM OP DE LOGINPAGINA</h3><br>
                <h4 class="w3-center">*Alleen toegankelijk voor het personeel.</h4>


                <head>
                    <title>LOGIN </title>
                </head>

                <body>


                <div th:if="${param.error}">
                    Onjuiste username of password.
                </div>

                <div th:if="${param.logout}">
                    U bent uitgelogd.
                </div>

                <form th:action="@{login}" method="post"><br>
                    <div><label> Gebruikersnaam : <input type="text" name="username"/> </label></div><br>
                    <div><label> Wachtwoord: <input type="password" name="password"/> </label></div><br>
                    <div><input type="submit" value="Login"/></div><br>
                </form>

        </CENTER>
    </div>
    </body>
</body>
</div>
</html>