<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<body>
<div class="container-fluid text-center">

    <form th:action="@{/logout}" method="post">
        <br>
        <p align="right">
            <input type="submit" value="Afmelden"/>
        </p>
    </form>

   <div> <h2 style="font-family:'Lucida Handwriting'">Algemene informatie patiënten</h2></div>
    <div class="m-2">


        <p align="center">
            <button class="w3-btn w3-rectangular w3-black w3-ripple" >
        <a class="h4" th:href="@{/users/new}">Nieuwe patiënt toevoegen</a>


        <div class="m-2">
        <p align="center">
            <a class="h4 text-xl-center" th:href="@{P_details}">Meer info over patiënten</a>
        </div>

    <div class="m-2">
        <p align="center">
            <a class="h4 text-xl-center" th:href="@{Labresults}">Resultaten patiënten</a>
    </div>

    <div class="m-2">
        <p align="center">
            <a class="h4 text-xl-center" th:href="@{Anamnese}">Anamnese patiënten</a>
    </div>


    <div class="m-2">
        <p align="center">
            <a class="h4 text-xl-center" th:href="@{Appointments}">Afspraken patiënten</a>
    </div>

        </p>


    </div>
    <div th:if="${message}" class="alert alert-success text-center">
       [[${message}]]
    </div>


 <div>
     <input class="form-control" id="myInput" type="text" placeholder="Zoek patienten info ...">
     <br>
     <table class="table table-bordered">
         <thead class="thead-dark">
            <tr>
                <th>ID</th>

                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Geboortedatum</th>
                <th>Telefoonnummer</th>
                <th>Adres</th>
                <th>Laatst bezocht</th>
                <th>Verzekeringsmaatschappij</th>
                <th>Verzekeringsnr.</th>
                <th></th>
            </tr>

         </thead>
         <tbody id="users">
         <th:block th:each="user : ${listUsers}">
             <tr>
                 <td>[[${user.id}]]</td>

                 <td>[[${user.firstName}]]</td>
                 <td>[[${user.lastName}]]</td>
                 <td>[[${user.geboorteDatum}]]</td>
                 <td>[[${user.phonenumber}]]</td>
                 <td>[[${user.address}]]</td>
                 <td>[[${user.lastVisited}]]</td>
                 <td>[[${user.Company}]]</td>

                 <td>[[${user.AssuranceNr}]]</td>
                 <td>
                     <a class="h6 mr-3" th:href="@{'/users/edit/' + ${user.id}}">Bewerken</a>
                     <a class="h6" th:href="@{'/users/delete/' + ${user.id}}">Verwijderen</a>
                 </td>

             </tr>


         </th:block>

         </tbody>


     </table>



 </div>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#users tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>
</body>
</html>