<!--Ziekte1-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Hart-en vaatziekten</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.pinterest.com/pin/740842207448478226/">
</head>
<body>





<div style="padding-bottom:500px;background-image: url('https://images.pexels.com/photos/4058267/pexels-photo-4058267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
    <button class="w3-btn w3-circle w3-teal w3-ripple" >
        <a th:href="@{index}" style="text-decoration: none">Terug naar startpagina  </a>
        <!-- Right-sided navbar links (rechterkant navigatiebar)-->

        <div class="w3-right w3-hide-small"></div>
    </button>


    <h3 class="w3-center w3-margin-top" style=""><b>Hart-en vaatziekten</b></h3>
    <br>

    <h3 class="w3-center">Hart- en vaatziekten nog steeds belangrijkste doodsoorzaak Suriname</h3>

    <h4 ><b>Hart- en vaatziekten zijn vandaag de dag nog steeds de belangrijkste doodsoorzaak en invaliditeit in de wereld. Hart- en vaatziekten zijn ook in Suriname doodsoorzaak nummer één. De meest voorkomende hart- en vaatziekten zijn coronaire hartziekten (bijvoorbeeld een hartaanval) en cerebrovasculaire aandoeningen (bijvoorbeeld een beroerte).</b></h4>

    <h4 class="w3-center">Het beheersen van de belangrijkste risicofactoren zoals voeding, lichaamsbeweging, tabaksgebruik en bloeddruk kan het risico op hart- en vaatziekten verminderen. Daar wordt elk jaar op 29 september, Wereld Hartdag, de aandacht voor gevraagd. Volgens de Wereld Hart Federatie overlijden elk jaar 17.5 miljoen mensen aan hart- en vaatziekten. Dat is goed voor 31% van alle sterfgevallen. Eén op de tien personen in de leeftijdsgroep 30-70 jaar oud sterft aan een hart- of vaatziekte.</h4>
    <h4 class="w3-center"><b>Belangrijkste doodsoorzaak Suriname</b></h4>
    <h4 class="w3-center"> Hart- en vaatziekten zijn ook in Suriname doodsoorzaak nummer één: ruim 26% van alle overlijdensgevallen is te wijten cardiovasculaire aandoeningen. Belangrijke risicofactoren zijn hypertensie en overgewicht, twee aandoeningen die in Suriname steeds meer reden tot bezorgdheid geven, zoals blijkt uit het Nationaal NCD “STEPS” Onderzoek Suriname.

        Bij 5.752 mensen van 15 tot 65 jaar zijn gewicht, lengte, bloeddruk en bloedsuiker gemeten, terwijl ook hun cholesterol is bepaald. Overgewicht en obesitas komen voor bij 47% van de mannen en 63% van de vrouwen, terwijl gemiddeld één op de vijf personen een verhoogde bloeddruk heeft.

        Dat deze zorgwekkende trend zich voortzet, wordt bevestigd door metingen die eerder dit jaar zijn verricht door medewerkers van de Intermed Bedrijvengroep in het kader van haar vaatprogramma. Bij een lokaal bedrijf werd bij 284 medewerkers de bloeddruk en de BMI bepaald. Gebleken is dat 107 personen op dat moment een bloeddruk van hoger dan 140/90 mmHg hadden. Uit een groep van 89 personen hadden voorts 22 personen een BMI > 25, wat betekent dat zij dus met overgewicht kampten.</h4>
</div>
</body>
</html>
