<!--Ziekte2-->
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Diabetes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.pinterest.com/pin/740842207448478226/">

</head>
<body>
<div style="padding-bottom: 500px;background-image: url('https://images.pexels.com/photos/6941884/pexels-photo-6941884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
    <button class="w3-btn w3-circle w3-teal w3-ripple" >
        <a th:href="@{index}" style="text-decoration: none">Terug naar startpagina  </a>
        <!-- Right-sided navbar links (rechterkant navigatiebar)-->

        <div class="w3-right w3-hide-small"></div>
    </button>


    <h2 class="titel w3-center" style=""><b>Diabetes</b></h2>
    <h2 class="w3-container w3-large w3-margin-top" style="color: black">
    <br>
    <p>Diabetes, suikerziekte, is een ziekte waarbij het lichaam de bloedsuiker niet meer in evenwicht kan houden. Dat komt doordat het lichaam te weinig van het hormoon insuline heeft. En ook reageert het lichaam vaak niet meer goed op insuline. Of het maakt helemaal geen insuline meer. Insuline regelt de bloedsuikerspiegel. </p>
    <p><b>Verschillende soorten diabetes</b></p>
    <p>Diabetes heet ook wel suikerziekte. De meest voorkomende soort is diabetes type 2: negen van de tien mensen met diabetes hebben diabetes type 2. Zij hebben te weinig insuline in het lichaam en reageren daar ook niet meer goed op.</p>
    <p>Er zijn ook mensen bij wie het afweersysteem de cellen aanvalt die insuline aanmaken. Dit komt door een fout in de cellen die insuline maken. Dan heb je diabetes type 1. Mensen met diabetes type 1 moeten elke dag bloedsuiker meten, insuline spuiten of een pompje dragen. Ze kunnen geen hap eten zonder te berekenen hoeveel insuline ervoor nodig is.</p>
    <p><b>Waardoor ontstaat diabetes?</b></p>
    <p>We weten niet precies waardoor diabetes ontstaat. Mensen krijgen eerder diabetes type 2 als het in de familie zit, als ze te zwaar zijn en als ze weinig bewegen. Maar lang niet iedereen kan voorkomen dat hij diabetes type 2 krijgt. Er zijn ook mensen die altijd gezond leven en die toch diabetes type 2 krijgen.

        Diabetes type 1 begint met aanleg voor diabetes type 1, ook zonder diabetes in de familie. Vervolgens raken de cellen die insuline aanmaken uit evenwicht, waardoor het afweersysteem de cellen aanvalt die insuline maken.</p>




</div>
</body>
</html>
